body {
    text-align: center;
}

.heading {
    font-size: 3.5rem;
    font-family: 'Pacifico', cursive;
}

.rock-word {
    color: red;
}

.two-word {
    color: peru;
}

.spock-word {
    color: orange;
}

.game-area {
    font-family: 'Patrick Hand', cursive;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #e8e8e8;
    border: 5px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.score-area {
    font-family: 'Patrick Hand', cursive;
}

.pick-text {
    font-size: 2rem;
    padding-bottom: 10px;
}

.btn {
    width: 75px;
    height: 75px;
    font-size: 3rem;
    cursor: pointer;
    margin: 3px;
}

.btn--color {
    color: white;
    background-color: green;
}

.btn--color:hover {
    color: white;
    background-color: darkgreen;
}

.instructions-box {
    margin-top: 10px;
}

.instructions {
    font-size: 1.5rem;
    color: blue;
    cursor: pointer;
}

.instructions:hover {
    color: darkblue;
}

#score {
    color: green;
}

#lives {
    color: red;
}