body {
    text-align: center;
}

.heading {
    font-size: 3.5rem;
    font-family: 'Pacifico', cursive;
}

.rock-word {
    color: red;
}

.two-word {
    color: peru;
}

.spock-word {
    color: orange;
}

.game-area {
    font-family: 'Patrick Hand', cursive;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #e8e8e8;
    border: 5px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.score-area {
    font-family: 'Patrick Hand', cursive;
}

.pick-text {
    font-size: 2rem;
    padding-bottom: 10px;
}

.btn {
    width: 75px;
    height: 75px;
    font-size: 3rem;
    cursor: pointer;
    margin: 3px;
}

.btn--color {
    color: white;
    background-color: green;
}

.btn--color:hover {
    color: white;
    background-color: darkgreen;
}

.instructions-box {
    margin-top: 10px;
}

#score {
    color: green;
}

#lives {
    color: red;
}


/* Pop up instructions learned from W3 Schools (credited in ReadMe fully) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.pop-up-instructions {
    font-size: 25px;
}

.winner {
    color: rgb(16, 199, 16);
    font-size: 35px;
}

.loser {
    color: red;
    font-size: 35px;
}

#instBtn {
    cursor: pointer;
}
